<p id="notice"><%= notice %></p>

<div class='articles-search'>
  <%= form_tag articles_path, method: :get do %>
  <div class='form-group'>
    <%= text_field_tag :query, params[:query], class: 'form-control typeahead', id: "article_search" %>
    <%= submit_tag 'Search' %>    
  </div>
  <% end %> 
</div>
    
<h1>Articles</h1>

<table>
  <thead>
    <tr>
      <th>Title</th>
      <th>Body</th>
    </tr>
  </thead>

  <tbody>
    <% @articles.each do |article| %>
      <tr>
        <td><%= article.title %></td>
        <td><%= article.body %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>
